includedir /etc/krb5.conf.d/

includedir /var/lib/sss/pubconf/krb5.include.d/
[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 default_realm = CORP.CLAROBR
 permitted_enctypes = aes256-cts-hmac-sha1-96 aes128-cts-hmac-sha1-96
 allow_weak_crypto = false
 dns_lookup_realm = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 rdns = false
 pkinit_anchors = /etc/pki/tls/certs/ca-bundle.crt
 default_ccache_name = KEYRING:persistent:%{uid}

[realms]
 CORP.CLAROBR = {
        kdc = CADNS01.corp.clarobr
        kdc = CADNS02.corp.clarobr
        admin_server = CADNS01.corp.clarobr
        admin_server = CADNS02.corp.clarobr
}
 
[domain_realm]
 CORP.CLAROBR = CORP.CLAROBR
 .CORP.CLAROBR = CORP.CLAROBR