# Drop-in corporativo - /etc/ssh/sshd_config.d/aap.conf
# Gerado por Ansible (role ol8plus). Validado por: sshd -t -f
# Contém SOMENTE as diretivas necessárias para AD. O sshd_config principal
# não é tocado (exceto para garantir o Include de sshd_config.d/).
PermitRootLogin yes
PasswordAuthentication yes
ChallengeResponseAuthentication no
GSSAPIAuthentication yes
GSSAPICleanupCredentials no
UsePAM yes
PrintMotd no
AllowGroups {{ sshd_allowgroups }}
